dataset/voxel
dataset/label
dataset/mesh
dataset/build
dataset/rendering_result
dataset/result_patches
instant-nsr-pl/runs
instant-nsr-pl/exp
logs
*.pyc
mvoutput
outputVDM
batch_execute.py
clip_similarity_calculation
exp.py
selected_input